---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '~/components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'] & {
	slug: string;
};

const { title, description, pubDate, updatedDate, heroImage, slug } =
	Astro.props;

const ogImage = `/og-image/${slug}.png`;
---

<BaseLayout
	title={title}
	description={description}
	image={ogImage}>
	<article>
		{
			heroImage && (
				<img
					width={1020}
					height={510}
					src={heroImage}
					alt=''
					class='mx-auto rounded-xl shadow-md mb-4'
				/>
			)
		}
		<div class='prose max-w-none mx-auto'>
			<div class='flex flex-col justify-center items-center'>
				<div class='date'>
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class='last-updated-on'>
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1>{title}</h1>
				<hr class='w-full' />
			</div>
			<slot />
		</div>
	</article>
</BaseLayout>
